
.cart{
    display:flex;
    justify-content: space-evenly;
    

    .cartItems{
        display:flex;
        flex-direction: column;
        max-width: 500px;
    

        margin: 5px;
        margin-top: 25px;
        padding: 3px;

        .item{
            display:flex;

            margin: 10px 0px;
            padding: 3px;

            .itemRemove{
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                top: -35px;

                button{
                    width: 75px;
                    height: 25px;
                }
            }

            .imgSThumb{
                width: 100px;
                height: 100px;

                margin:10px;
                padding: 3px;
            }

            .itemPrice{
                display: flex;
                justify-content: center;
                align-items: center;

                margin: 10px;
                padding: 3px;
            }

            p {
                font-size: 14px;
            }
        }

        button{
            margin: auto 5px;
            padding: 3px;

            height: 40px;
        }

    }

    .cartSum{
        display:flex;
        flex-direction: column;

        margin: 10px;
        margin-top: 80px;
        padding: 3px;
    }

    tr{
        text-align: left;
        margin: 5px;
    }
    td{
        margin: 5px;
    }

    
}

.emptyCart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 150px 0px;
    width: 300px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}



