.App {
  box-sizing: border-box;

}

a {
  text-decoration: none;
  color: #3F71AE;
}

.background {
  box-shadow: rgba(0,0,0,1) 4px 4px 4px;
}

nav {
  display: flex;
  justify-content: space-between;
  border: solid 1px #33383b;
  font-size: 20px;


  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #fff;
  background-color:  #33383b;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  
  color: white;
  box-shadow: rgba(0,0,0,.3) 2px 2px 4px;

  .navLeft, .navRight {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .navRight{
    margin-right: 10px;
  }


  h1 {
    margin: 6px;
    padding: 2px;
  }

  a, h1{
    margin: 0px 10px;
    color: white;

  }

  a:hover, h1:hover{
    color: #3798db;
  }

  

}

button{
    width: 180px;
    height: 40px;

    margin: 10px;
    padding: 3px;
    
    border: solid 1px #328cca;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;

    background-image: linear-gradient(top, #3798db, #2c7cd2);
    background-color: #2b96f1;
    color: #fff;
    font-size: 18px;
}

button:hover{
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3fadf9), color-stop(1, #3493f9));
  filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr=#3fadf9, EndColorStr=#3493f9)";
  background-image: linear-gradient(top, #3fadf9, #3493f9);
}

#newButton{
  margin:0px;
  padding: 0px;

  width: 200px;
}
